{{!--

If the user is logged in and they are an admin user, and 'GET /admin' endpoint is called, you will render this view
based on the specs.

--}}
  <h1>Admin Page</h1>
  <p>{{AdminString}}</p>
  <a class="protected-anchor" href="/protected">Protected Page</a>
  <a class="logout-anchor" href="/logout">LOGOUT</a>