<article class="events">
  <h1>Events Home</h1>
  <h2 class="home-search-header">Events Search</h1>
    <form autocomplete="off" action="/action_page.php">
      <div class="autocomplete" style="width:300px;">
        <input id="eventSearchInput" type="text" name="eventSearchInput" placeholder="Event name">
      </div>
      <input type="submit">
    </form>
    <h2 class="home-tool-header">Events Home</h1>
      <p class="home-about">
        Here you can make events and search for them.
      </p>
      </script>
      {{!-- TODO: add the SRI Hash --}}
      {{!--
      <script src="../public/js/event_autocomplete.js" integrity="" crossorigin="anonymous">
      </script> --}}
</article>