 <article class="posts">
  <h1 class="posts-page-header">Posts Page</h1>
  {{#if loggedIn}}
  <form action="/posts" method="POST" class="post-form" id="post-form">
      <div class="form-group">
        <label for="postTitleInput">Post Title</label>
        <input type="text" class="form-control" id="postTitleInput" name="postTitleInput" placeholder="Post Title Input"
          value="{{postTitle}}">
      </div>
      <div class="form-group">
        <label for="postContentInput">Content</label>
        <textarea name="postContentInput" cols="50" rows="10"></textarea>
      </div>
    <br>
    <div class="form-group hidden" id="error-container">
      <p class="alert alert-danger text-goes-here">
      </p>
    </div>   
    <button type="submit" id="post-submit" class="btnClass">Submit Post</button>
    {{!-- <input type="hidden" name='_method' value="PUT" /> --}}
  </form>

  {{/if}}

  <div class="form-group hidden" id="posts-container">
      <ul id="post-list"> </ul>
      <ul>
        {{#each posts}}  
        <li>
          <p>{{postBody}}</p>
        </li>
        {{/each}}
        </ul>      
  </div> 
</article>